{% extends "boilerplate_web.html" %}

{% block body %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag()}}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"> Create Email by prompt</legend>
                <div class="form-group">
                    {{form.company_name.label(class="form-control-label")}}
                    {{form.company_name(class="form-control-lg")}}
                    {% if form.company_name.errors %}
                        <ul class = "errors">
                                {% for error in form.company_name.errors %}
                                    <li> {{error}} </li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{form.heard_about.label(class="form-control-label")}}
                    {{form.heard_about(class="form-control-lg")}}
                    {% if form.heard_about.errors %}
                        <ul class = "errors">
                                {% for error in form.heard_about.errors %}
                                    <li> {{error}} </li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <!-- <div class="form-group">
                    {{form.job_position.label(class="form-control-label")}}
                    {{form.job_position(class="form-control-lg")}}
                    {% if form.job_position.errors %}
                        <ul class = "errors">
                                {% for error in form.job_position.errors %}
                                    <li> {{error}} </li>
                                {% endfor %}
                        </ul>
                    {% endif %}
                </div> -->
                <div class="form-group">
                        {{form.recipient_email.label(class="form-control-label")}}
                        {{form.recipient_email(class="form-control-lg")}}
                        {% if form.recipient_email.errors %}
                            <ul class = "errors">
                                    {% for error in form.job_position.errors %}
                                        <li> {{error}} </li>
                                    {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class = "btn btn-success")}}
            </div>
        </form>
    </div>
{% endblock body %}